html, body {
	size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background: rgb(128,241,255);

}

#start-btn {
	margin-left: auto;
	margin-right: auto;
	top: 40%;
	position: absolute;
	background: #40797f;
	width: 40%;
	max-width: 60%;
	min-width: 20%;
	height: 200px;
	font-family: 'Titan One', Verdana, Geneva, sans-serif;
	color: #ffffff;
	right: 470px;
	font-size: 45pt;
	text-decoration: none;
	border-radius: 50px;
}

#start-btn:hover {
	background: #273c40;
	text-decoration: none;
	font-size: 45pt;
	color: #000000;
	
}

.link, .me {
	position: absolute;
	right: 700px;
	width: 70px;
	height: 50px;
	font-family: 'Titan One', serif;

	
}
.link {
	color: black;
	top: 1000px; 
	
	border-right: 4px solid #203c40;
	border-top: 4px solid #203c40;
}
.me  {
	color: white;
	
	border-left: 4px solid #203c40;
	border-bottom: 4px solid #203c40;
}


.containerFluid .jumbotron {
	background-color: #60b5bf !important;
	height: 190px;
	
}
#j2 {
	background-color: #85dadf !important;
	height: 250px;
	border-top: solid 1px #203c40;
	border-bottom: solid 1px #203c40;
}
.img-responsive {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	height: 120px; 
}

