html, body {
	size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background:#f9f9f9;

}
a:hover{
	text-decoration: none;
}
.col-md-2.btn-primary {
	background: #40797f;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-radius: 50px;
}
.btn-primary:hover {
	background: #273c40;
	text-decoration: none;
}
.nav-tabs {
	background-color: #12fffe;
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover, .nav-tabs > li.active > a{
  background-color: #40797f !important;
  color:#ffffff;
}
.nav-tabs:focus, .nav-tabs.focus {
  background-color: #80f1fe!important;
  color:#ffffff;
}

.container.img-thumbnail {
	position: absolute;
	bottom: 25px ;	
}
.containerFluid .jumbotron {
	background-color: #60b5bf !important;
	height: 250px;
	
}
.icon{
	margin-left: auto;
	margin-right: auto;
}
#j2 {
	background-color: #85dadf !important;
	height: 600px;
	border-top: solid 1px #203c40;
	border-bottom: solid 1px #203c40;
	
}
.img-responsive {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	height: 160px; 
}
.details {
	width: 300px;
	min-width: 50%;
	margin-left: auto;
	margin-right: auto;
	height: 240px;
	background-color: #91cc52;
}
.modal {
	background: #f9f9f9;
	
}
.modal-header, h4, .close {
      background-color: #60b5bf;
      color:white !important;
      text-align: center;
      font-size: 40px;
  }
.modal-footer {
      background-color: #f9f9f9;
  }
