html, body {
	size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background: rgb(128,241,255);

}

.col-md-2.btn-primary {
	background: #40797f;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	border-radius: 50px;
}
.btn-primary:hover {
	background: #273c40;
	text-decoration: none;
}
.nav-tabs {
	background-color: #12fffe;
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover, .nav-tabs > li.active > a{
  background-color: #40797f !important;
  color:#fff;
}

.container.img-thumbnail {
	position: absolute;
	bottom: 25px ;	
}
.containerFluid .jumbotron {
	background-color: #60b5bf !important;
	height: 250px;
	
}
#j2 {
	background-color: #85dadf !important;
	height: 600px;
	border-top: solid 1px #203c40;
	border-bottom: solid 1px #203c40;
}
.img-responsive {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	height: 120px; 
}
.details {
	width: 300px;
	min-width: 50%;
	height: 240px;
	background-color: #91cc52;
}
.modal-header, h4, .close {
      background-color: #91cc52;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
.modal-footer {
      background-color: #f9f9f9;
  }
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }