html, body {
	size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background: rgb(128,241,255);

}
h1{
	padding: 2em;
	 
}
#home, #text, #status, #lock, #close, #settings {
	
	
	border: solid 1px #12fffe;
	margin-left: 100px;
	margin-top: 50px;
	width: 300px;
	height: 260px;
	top: 20px;
	position: relative;
	float: left;
	
	
}
#jumbo {
	position: relative;
	background-color: #85dadf !important;
	height: 150px;
	border-top: solid 1px #203c40;
	border-bottom: solid 1px #203c40;
	top: 500px;
}
#logo {
	position: absolute;
	float: left;
	float: right;
	height: 100px;
}
.tabs, .tabs1 {
	margin-left: 1.5em;
	margin-top: 1.5em;
	
	width: 250px;
	height: 210px;
}

.ca:hover {
	background: #40797f !important;
}
.ca {
	clear: both; height: 300px; width: 550px; border-radius: 50px; position: relative;
	margin-left: auto; margin-right: auto;
	
}
#c1 {
	
	background-color: #12fffe;
	top: 50px;
}
#c2 {
	background-color: #569910;
	margin-top: 100px;
}

